.navbar {
  /* 가운데 정렬 
  display: grid;
  place-content: center; */
  display: grid;
  place-content: center;
  background-color: rgb(29, 29, 29);
  width: 100%;
  min-width: 340px;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbarLink {
  color: rgba(245, 245, 245, 0.726);
  font-size: 12px;
  margin: auto 8px;
  padding-right: 8px;
  padding-left: 8px;
}

/* 마우스 오버시 이벤트 
.navbarLink:hover*/

.navbarLink:hover {
  color: white;
}
