.topbar {
  /* 가운데 정렬
  display: flex;
  margin: 0 auto; */
  display: flex;
  margin: 0 auto;
  height: 300px;
  width: 80%;
  border-radius: 0 0 20px 20px;
}

.topbarTitle {
  width: 100%;
}

.topbarInput {
  display: flex;
  margin: auto;
  background-color: black;
  border: none;
  font-size: 90%;
  padding: 5px;
  width: 80%;
  color: white;
}

.topbarUnder {
  border: none;
  width: 95%;
}

.topbarMenu:hover {
  background-color: #e9f4fe;
}
